{% extends 'blogv3/section/base.html' %}
{% load static %}
{% block page_title %}
    Elloit King Blog
{% endblock %}
{% block page_content %}
    <div class="container row">
            <div class="col-md-8 mr-auto ml-auto">
            {% if arts %}
                {% for art in arts %}
                <div class="card card-nav-tabs article_card">
                    <div class="card-body">
                        <h3 class="card-title"><a target="_blank" href="{% url 'blogv3:article' art.article_id %}">{{ art.article_title }}</a></h3>
                        <h6 class="card-description">类型: {{ art.article_type.type_content }}; 发布于: {{ art.article_date }}; 作者: {{ art.article_auth }}; 阅读:{{ art.article_scannum }}; 评论:{{ art.article_commentnum }};</h6>
                        <hr>
                        <div style="height: 100px;overflow: hidden">
                            {{ art.article_content | safe }}
                        </div>
                        <a href="{% url 'blogv3:article' art.article_id  %}" class="btn btn-primary">继续阅读</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-md-12 mr-auto ml-auto">
                    <div class="card card-nav-tabs">
                        <div class="card-body">
                            <h2 class="text-center">Sorry !!! No article Here!!!</h2>
                        </div>
                        <hr>
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="col-md-4 mr-auto ml-auto">
                <div class="card">
                    <div class="card-header text-center">
                        <a><i class="material-icons">cloud</i><span>标签云</span></a>
                    </div>
                    <div class="card-body">
                        {% for type in types %}
                            <a href="{% url 'blogv3:labeltype' type %}"><button type="button" class="btn {{ sizes | random }} {{ colors | random }}">{{ type }}</button></a>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-header text-center">
                        <a><i class="material-icons">book</i><span>热门文章</span></a>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            {% for hart in hotarts %}
                            <tr><td><a class="a_style" href="{% url 'blogv3:article' hart.article_id  %}"><i class="material-icons">visibility</i>&nbsp;{{ hart.article_title }}</a></td><td><span class="badge badge-danger">{{ hart.article_scannum }}</span></td></tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="card-header text-center">
                        <a><i class="material-icons">assessment</i><span>归档</span></a>
                    </div>
                    <div class="card-body">
                       <table class="table table-hover">
                           {% for i in year_month_number %}
                                  <tr><td><a class="a_style" href='{% url "blogv3:archiving" %}?year={{ i.year }}&mounth={{ i.mounth }}'><i class="material-icons">today</i>&nbsp;{{ i.date }}</a></td><td><span class="badge badge-info">{{ i.conter }}</span></td></tr>
                           {% endfor %}
                       </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}