body{
    background-color: #050505;
    background-image: url("../img/bcg.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    color: #2e2e2e;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    background-attachment:fixed;
}
.a_style{
    color: black;
}
